* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #7a553f;
}

header img {
    width: 100%;
    overflow: hidden;
}

nav {
    background-color: #242424;
    padding: 1%;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #E3D0BC;
    font-size: 2.5rem;
}

main {
    width: 60%;
    background-color: #291c13;
    margin: auto;
    gap: 5%;
}

section {
    width: 50%;
    margin: auto;
    color: #E3D0BC;
    text-align: center;
}

section a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #291c13;
    background-color: #CDA172;
    padding: 0.5%;
    border-radius: 5px;
}

section a:hover {
    background-color: #CCB18D;
    transition: 0.5s;
}

article p {
    font-size: 1.3rem;
    margin: 3%;
}

footer {
    background-color: #573c28;
    width: 100%;
    padding: 3%;
    text-align: center;
}

.botao-voltar {
    text-decoration: none;
    color: #E3D0BC;
    font-size: 1.5rem;
    position: fixed;
    bottom: 3%;
    right: 2%;
    z-index: 3;
}

.subtitulo {
    font-size: 4rem;
    color: #E3D0BC;
    text-align: center;
}

.imagens-horizontais {
    display: flex;
    justify-content: center;

}

.imagens-horizontais img {
    width: 50%;
    object-fit: cover;
    margin: 2%;
}

.float-left {
    display: flex;
}

.float-left img {
    float: left;
    width: 50%;
    object-fit: cover;
    margin: 2% 0% 2% 5%;
}

.float-left article p {
    width: 100%;
}

.float-right {
    display: flex;
}

.float-right img {
    float: right;
    width: 50%;
    object-fit: cover;
    margin: 2% 5% 2% 0%;
}

.float-right article p {
    width: 100%;
}

.clear {
    clear: both;
}