* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #7a553f;
}

header {
    width: 100%;
    height: 600px;
    overflow: hidden;
    display: block;
    background-image: url("/site_arquitetura/img/estacao.jpg");
    background-size: cover;
    background-position: center;
}

header h1 {
    color: #BCB19B;
    text-shadow: 3px 3px 5px #090907;
    text-align: center;
    font-size: 10rem;
    margin: 10%;
}

nav {
    background-color: #242424;
    padding: 1%;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #E3D0BC;
    font-size: 2.5rem;
    margin: 3%;
}

main {
    width: 60%;
    background-color: #291c13;
    margin: auto;
    gap: 5%;
}

section {
    width: 60%;
    margin: auto;
    color: #E3D0BC;
}

article p {
    font-size: 1.3rem;
    margin: 3%;
}
span a {
    text-decoration: none;
    color: #E3D0BC;
}

label {
    font-size: 1.5rem;
}

input, select, textarea {
    width: 100%;
    background-color: #cda172;
    color: #291c13;
    border-radius: 5px;
    font-size: 1.2rem;
}

footer {
    background-color: #573c28;
    width: 100%;
    padding: 2%;
    text-align: center;
    font-size: 1.5rem;
}

.botao-voltar {
    text-decoration: none;
    color: #E3D0BC;
    font-size: 1.5rem;
    position: fixed;
    bottom: 3%;
    right: 2%;
    z-index: 3;
}

.titulo {
    font-size: 4rem;
    color: #E3D0BC;
    text-align: center;
}

.subtitulo {
    font-size: 2rem;
    color: #E3D0BC;
    text-align: center;
}

.imagens-horizontais {
    display: flex;
    justify-content: center;
}

.imagens-horizontais img {
    object-fit: cover;
    width: 50%;
    margin: 2%;
    border-radius: 1%;
}


.imagem-redonda {
    border-radius: 50% !important;
}

.float-left {
    display: flex;
}

.float-left img {
    float: left;
    object-fit: cover;
    width: 50%;
    margin: 2% 5% 2% 0%;
    border-radius: 1%;
}

.float-left article p {
    width: 100%;
    text-align: left;
}

.float-right {
    display: flex;
}

.float-right img {
    float: right;
    width: 50%;
    object-fit: cover;
    margin: 2% 0% 2% 5%;
    border-radius: 1%;
}

.float-right article p {
    width: 100%;
    text-align: right;
}

.clear {
    clear: both;
}



.form-container {
    background-color: #3f352c;
    margin-bottom:2%;
    padding: 2% 5% 2% 5%;
    line-height: 1.5;
}

.form-container button {
    font-size: 1.5rem;
    color: #291c13;
    background-color: #CDA172;
    padding: 0.5%;
    border-radius: 5px;
}

.info-container {
    display: flex;
    gap: 5%;
}

.info-container article {
    text-align: center;
    width: 100%;
}

.info-container iframe {
    width: 100%;
    border-radius: 5px;
    margin: 2%;
}

/* Arrumar */
/* .tarja-banner {
    width: 100%;
    background-color: #090907;
    opacity: 0.7;
} */

#banner-home {
    height: 1000px;
}

#banner-home h1 {
    margin: 15%;
}